<div class="surface-card shadow-2 border-round ">
  <div class="header flex justify-content-between align-items-center">
    <span class="header-title">Usuarios</span>
    <div>
      <button  *ngxPermissionsOnly="'movil.cat_estatus.create'" pButton pRipple icon="pi pi-user-plus" label="Add New" [routerLink]="['add']"
              class="p-element custom-button w-full sm:w-auto flex-order-0 sm:flex-order-2">
        <i class="p-button-icon pi pi-user-plus" aria-hidden="true"></i>
        <span class="p-button-label pl-2">Nuevo usuario</span>
      </button>
    </div>

  </div>
  <div class="card p-4">

    <p-table
      #dt2
      [value]="users"
      dataKey="id"
      [rows]="10"
      [columns]="columns"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [showFirstLastIcon]="false"
      [globalFilterFields]="dataSource"
      [tableStyle]="{ 'min-width': '75rem' }"
      paginatorStyleClass="text-end"
      responsiveLayout="stack"
    >
      <ng-template pTemplate="caption">
        <div class="ng-star-inserted">
          <div class="flex flex-wrap gap-2 align-items-center ng-star-inserted">
            <span class="p-input-icon-left sm:w-20rem flex-order-1 sm:flex-order-0 w-full">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue" [style]="{'width': '100%'}"
                       (input)="dt2.filterGlobal(event($event.target), 'contains')" placeholder="Buscar"/>
            </span>
            <button pButton pRipple icon="pi pi-user-plus" label="Add New" (click)="clearTable(dt2)"
                    class="p-element p-button-outlined w-full sm:w-auto flex-order-2 sm:flex-order-1 p-button p-component">
              <span class="p-button-icon p-button-icon-left pi pi-filter-slash" aria-hidden="true"></span>
              <span class="p-button-label">Limpiar filtro</span>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [ngStyle]="{'width.%': col.width}"
              [pSortableColumn]="col.field">{{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="cursor-pointer" (click)="filterHidden = !filterHidden">Acciones <i class="pi"
              [ngClass]="filterHidden ? 'pi-filter' : 'pi-filter-fill'"></i>
          </th>
        </tr>
        <tr [hidden]="filterHidden">
          <th *ngFor="let col of columns">
            <p-columnFilter
              type="text"
              [field]="col.field"
              [placeholder]="'Burcar ' + col.header"
              [ariaLabel]="'Filtro ' + col.header"/>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" >
            {{ rowData[col.field] }}
          </td>
          <td class="text-center">
            <i *ngIf="!rowData.deleted_at"  class="pi pi-pencil pr-2 cursor-pointer" [routerLink]="['edit', rowData.id]"></i>
            <i class="pi pi-trash cursor-pointer" [ngClass]="rowData.deleted_at ? 'pi-check' : 'pi-trash'" (click)="delete($event, rowData)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
    <app-modal-alert></app-modal-alert>
  </div>
</div>
